<div class = "container">
	<div id = "loader" [hidden] = "!toggleShowHide"></div>
	<div id = "output" [hidden] = "toggleShowHide">
		<ul class = "mylist card mt-2" *ngFor = "let user of (users$ | async)">
        	<li  class = "card-body text-primary" routerLink='/user-list/{{user.id}}'>{{user.name}}</li>
			<li  class = "card-body text-secondary" id = "myli2">{{user.email}}</li>
			<li  class = "card-body text-info" id = "myli2"><a href = "https://{{user.website}}" target = "_blank">{{user.website}}</a></li>
        </ul>
	</div>
</div>

